<div class="page-container">
  <div class="formulaire">
    <div>   
  <td>  <h2>Mon Pronostic</h2></td> 
  <td>      <button (click)="viewAccueil()">Accueil</button></td> 
  </div>

    <label>Nom du participant :</label>
    <input [(ngModel)]="participant" placeholder="Votre nom" />

    <div *ngFor="let coureur of coureurs; index as i; trackBy: trackByIndex"> 
     <label>{{ getLibellePosition(i + 1)}} :</label>
      <input [(ngModel)]="coureurs[i]" placeholder="Nom du coureur" />
    </div>

    <button (click)="validerPronostic()">Valider</button>
    <p *ngIf="message">{{ message }}</p>
  </div>

</div>

