.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/carte_tdf.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-accueil {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #B62495;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.btn-accueil:hover {
  background-color: #B62495;
  color: #ffffff;
}

.formulaire {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-row label {
  flex: 1;
  margin-right: 10px;
}

.input-row input {
  flex: 2;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #B62495;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #B62495;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-weight: bold;
}