<div class="page-container">

    <!-- Bouton Accueil en haut à gauche -->
    <button class="btn-accueil" (click)="viewAccueil()">Accueil</button>
  <tr> <td><h2>Résultats</h2></td>

<div class="formulaire">
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Position</th>
      <th *ngFor="let p of participants">{{ p }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ligne of classements; let i = index">
      <td>{{ getLibellePosition(i)}} :</td>
      <td *ngFor="let coureur of ligne">{{ coureur }}</td>
    </tr>
  </tbody>
</table>
</div>
</tr>
</div>
